<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{title}}</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" [ngClass]="{'show':isShowBoardDropDown}" (click)="toggleBoardDropDown()" >
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Доски
        </a>
        <div class="dropdown-menu">
          <a *ngFor="let board of boards" class="dropdown-item" href="#" (click)="setBoard(board)">{{board&&board['name']}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
